# SPA Rerouting - v12.4 (Security Shield)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Se ja estiver no index.html, nao faca nada
    RewriteRule ^index\.html$ - [L]

    # Se o arquivo existir fisicamente (foto, css, js, pdf), entregue ele
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # PARA TODO O RESTO: Entregue o index.html
    RewriteRule . /index.html [L]
</IfModule>

# Forca o carregamento do site em caso de erro do servidor
ErrorDocument 404 /index.html
ErrorDocument 403 /index.html
